/**
*	Resume 3.0 (HTML)
*	home.css
**/

/* Page */
.page {
	overflow: hidden;
}

/* Header */

.header {
}
.banner-bg{
	width: 100%;
	height: 50vh;
	background: url('../images/topography-light-grey.svg') center center fixed repeat, linear-gradient(10deg, #9199B5, #FDD8BC);
	opacity: 0.8;
}

.banner {
	position: relative;
	margin: 0 0 -15rem 0;
	padding: 0;
	top: -15rem;
	text-align: center;
}

.banner-img 
{
	height: 20rem;
	width: 20rem;
	margin: 0 auto 15px;
}

.banner-img img
{
	height: 100%;
	width: 100%;
	border-radius: 50%;

}

.banner-title {
	font-weight: 100;
	color: #363636;
}


/* Section */
.section {
	padding: 5rem 0;
	position: relative;
}

@media (max-width: 1080px) {
	.section {
		padding: 35px 0;
	}
}

.box {
	padding: 2.5rem;
	position: relative;
	background: #fefefe;
	border-radius: 0.2rem;
	box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.14);
}

/* About section*/
.section.about .box{

}

ul.about-list li {
	line-height: 2;
}

.section.about .inline-list:first-child {
	padding-top: 0;
}

.section.about ul.about-list:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.section.about ul.inline-list {
	border-bottom: dashed 1px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
}
.section.about ul.inline-list:last-child {
	border-bottom: none;
}

.section.about ul.inline-list li {
	display: inline-block;
	line-height: 1;

}

.inline-list .list-attribute {
	padding: 0.3em 0.5em;
	background: #033F63;
	color: #fff;

}

.inline-list .list-data {
	padding: 0.3em 0.5em;
	
	position: absolute;
	right: 2.5rem;
	margin-left: 10rem;
	/*
	float: right;
	clear: right;
	*/
}









