/**
*	Resume 3.0 (HTML)
*	home.css
**/

/* Page */
.page {
	overflow: hidden;
}

/* Header */

.header {

}
.header__bg{
	width: 100%;
	height: 50vh;
	background: url('../images/topography-light-grey.svg') center center fixed repeat, linear-gradient(10deg, #9199B5, #FDD8BC);
	opacity: 0.8;
}

.banner {
	position: relative;
	margin: 0 0 -6.5em 0;
	padding: 0;
	top: -6.5em;
	text-align: center;
}

.banner__id {
	height: 10em;
	width: 10em;
	margin: 0 auto 15px;
}

.banner__id__photo
{
	height: 100%;
	width: 100%;
	border-radius: 50%;

}

.banner__title {
	font-weight: 100;
	color: #363636;
}


/* Section */
.section {
	padding: 50px 0;
	position: relative;
}

@media (max-width: 1080px) {
	.section {
		padding: 35px 0;
	}
}

.box {
	padding: 25px;
	position: relative;
	background: #fefefe;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.section__title {
	text-align: center;
	font-weight: 100;
	height: 80px;
}

/* Icon */

.icon {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	background: #033F63;
	line-height: 60px;
	border-radius: 50%;
	position: relative;
	margin-top: -55px;
	text-align: center;
}

.icon--section {
	margin-bottom: 20px;
}

.icon__logo {
	display: block;
	width: 100%;
	height:100%;
	padding: 10px;
}

/* About section*/
.section--about {
	
}

.section__table__row {
	padding : 15px 0;
	border-bottom: dashed 1px rgba(0, 0, 0, 0.2);
}

.section__table__row:first-child {
	padding-top: 0;
}

.section__table__row:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.section__table__attribute {
	padding: 0.2em 0.4em;
	background: #033F63;
	color: #fff;
}

.section__table__data {
	float: right;
}

/* Work section */

.section .work {}











