html, body { font-size: 16px; font-family: 'Montserrat', sans-serif; height: 100%; background: white; padding: 0; margin: 0; }
img { border: 0; }
table { border-collapse: collapse; padding: 0; margin: 0; }
a { text-decoration: none; }
p, h1, h2, h3, h4, h5, h6 { padding:0; margin: 0;}
.x25 { width: 25%; }
.x33 { width: 33%; }
.x50 { width: 50%; }
.x100 { width: 100%; }
 
.left { float: left; }
.right { float: right; }
 
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.caps { text-transform: uppercase; }
 
.hidden { display: none; visibility: hidden; }

.bg-color1    { background: #00171F; color: #FFFFFF; }
.bg-color2	{ background: #003459; color: #FFFFFF; }
.bg-color3	{ background: #007EA7; color: #00171F; }
.bg-color4	{ background: #00A8E8; color: #00171F; }
.bg-color5	{ background: #FFFFFF; }
.text-color1	{ color: #FFFFFF; }
.text-color2	{ color: #212121; }
.text-color3    { color: #757575; }


* { margin: 0; padding: 0; }

#header {
    height: 90vh;
    width: 100%;
	}
	
.center {
	text-align: center;
	display: flex;
	width: 100%;
	}

.header1 {
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header2 {
	height: 10vh;
}

.header3 {
	height: 20vh;
}

h1{
	font-size: 3em;
	margin: 20px;
	}
	
h2 {
	margin: auto;
	font-size: 2em;
}

h3 {
	margin: auto;
	font-size: 1.6em;
}
 
 #profilPicture
 {
	margin: 20px;
}
 
 #profilPicture img
 {
	display: block;
	height: 50vh;
	width: 50vh;
	border-radius: 25vh;
 }
 
 
 
#nav {
	
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	display: flex;
	height: 10vh;
}

li {

}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	padding: 3.5vh 3.5vw;
}

li a:hover {
    background-color: #111;
}

#main {
	height: 1500px;
	}